@font-face {
  font-family: "Recife";
  src: url('../fonts/RecifeDisplay-LightItalic.woff');
}
@font-face {
  font-family: "Neubit";
  src: url('../fonts/NeueBit-Regular.ttf');
}
.neuBit{
  font-family: "Neubit";
}

.blob {
  height: 500px;
  pointer-events: none;
  aspect-ratio: 1;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  opacity: 0.3;
  filter: blur(800px);
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: ease-in 5s infinite blobAnimate;
}

@keyframes blobAnimate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.letter {
  display: inline-block;
  transition: all ease 0.2s;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}
.projectTitle{
   display: inline-block;
  transition: all ease 0.2s;
  font-weight: 900;
  font-size: 120px;
  -webkit-text-fill-color: transparent;
  color:#1a1a1a;
  -webkit-text-stroke: 1px;
}

.projectTitle:hover{
     display: inline-block;
  transition: all ease 0.8s;
  font-weight: 900;
  font-size: 120px;
    -webkit-text-stroke: 1px;
      -webkit-text-fill-color: #1a1a1a;
}

ul li{
  cursor: pointer;
}


@keyframes bounceLetter {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}

.letterParent {
  line-height: 100px;
}

.letterParent:hover > .letter:nth-child(1) {
  transform: translate(-40px, -40px) rotate(-20deg);
}
.letterParent:hover > .letter:nth-child(2) {
  transform: translate(-20px, -40px) rotate(10deg);
}
.letterParent:hover > .letter:nth-child(3) {
  transform: translate(-10px, -60px) rotate(-30deg);
}
.letterParent:hover > .letter:nth-child(4) {
  transform: translate(0px, -40px) rotate(10deg);
}
.letterParent:hover > .letter:nth-child(5) {
  transform: translate(10px, -40px) rotate(10deg);
}
.letterParent:hover > .letter:nth-child(6) {
  transform: translate(20px, -40px) rotate(-30deg);
}
.letterParent:hover > .letter:nth-child(7) {
  transform: translate(10px, -40px) rotate(10deg);
}
.letterParent:hover > .letter:nth-child(8) {
  transform: translate(10px, -40px) rotate(-10deg);
}
.letterParent:hover > .letter:nth-child(9) {
  transform: translate(10px, -40px) rotate(10deg);
}

.downArrow {
  animation: bounceArrow ease-in-out 2s infinite;
}

@keyframes bounceArrow {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-20px);
  }
}


.headerFont{
  font-family: 'ClashDisplay';

}


.navLinks{
    transition: all ease 1s;
}

.navLinks:hover:after{
  content: "";
  position: absolute;
  left: 0;
  mix-blend-mode: difference;
  border-radius: 50%;
  top: 0;
  height: 80px;
  width: 80px;
  transform: scale(2);
  background-color: purple;

}

.aboutMe:after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: orangered;
  height: 150px;
  right: 10px;
  border-radius: 50%;
  aspect-ratio: 1;
  animation: bounceArrow 4s ease-in infinite forwards;
}

.test {
  background-color: orangered;
  height: 30px;
  aspect-ratio: 1;
  width: 30px;

  background-size: 40px 30px;
}

.projectCard {
  height: 350px;
  aspect-ratio: 1;
  animation: projectCardAnimation 0.4s ease-in-out 1 forwards;
}
.cardHover h1 {
  font-size: 75px;
  color: white;
}
.cardParent {
  position: relative;

}
.cardHover {
  position: absolute;
top: 0;
height: 0;



  overflow: hidden;
  transition: all ease 3s;
}



.link{

  color: wheat;
  display: flex;
  font-size: 70px;

align-items: center;
cursor: pointer;
  position: relative ;
  top: 0;
  z-index: 0;
  justify-content: space-between;
  transition: all 1s ease;

}
/* .link:hover{
  border-bottom: 3px solid white;
  border-top: 3px solid white;


} */

@font-face {
  font-family: "ClashDisplay";
  src: url('../fonts/ClashDisplay-Bold.otf');
}

 .arrow{
  animation: arrowMove 0.8s ease-in-out infinite forwards;
}

@keyframes arrowMove {
  0%{
    position :relative;
left: 0px;
  }50%{
    position :relative;

left: -5px;
  }
  100%{
     position :relative;
left: 0px;
  }
}
.link:hover{
  color: white;
  margin-left:13px;
}
.link .hover-reveal{
  position: absolute;
  aspect-ratio: 1;
  width: 300px;
left: 50%;
z-index: 20;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8)
  ;
transition: all 0.8s ease-out;
}

.link .hover-reveal .hidden-img {
  z-index: 20;
height: 100%;
width: 100%;

position: absolute;


}

.paraFont{
  font-family: "Recife";
}


.cardParent:hover .cardHover {
  position: absolute;

height: 100vh;
  transition: all ease 3s;
}
@keyframes projectCardAnimation {
  from {
    transform: scale(1);
    transition: all ease-in;
  }
  to {
    transform: scale(1.05);
  }
}
