#scrollContainer {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 100vh;
}

.scrollPage {
  flex: 0 0 100vw;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

